/* FONT IMPORT */

@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* ROOT VARIABLES */
:root {
  --var-main-font: "Archivo";
  --var-text-color: #333;
  --var-white-color: #fff;
  --var-black-color: #000;
  --var-primary-color: #003566;
  --var-accent-color: #ffff00;
  --var-theme-color: #0004ff;
}

/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--var-main-font), sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--var-text-color);
  overflow-x: hidden;
  position: relative;
}
.section {
  padding: 3rem 0;
}
